<div id="<%= dom_id article %>">
  <p>
    <strong>Name:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Original name:</strong>
    <%= article.original_name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= article.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

</div>
